$color_border: rgb(10, 22, 13);
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
$font_family: 'Red Hat Mono',
monospace;

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

    &:focus,
    &:active,
    &:visited,
    &:focus-visible,
    &:focus-within {
        border: none;
        outline: none;
    }
}

div.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 30%;
        height: 60%;
        font-family: $font_family;
        border: 2px solid $color_border;
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(10, 1fr);
        box-shadow: 2px 2px 10px 1px $color_border;

        input {
            &.text-in {
                border-bottom: 1px solid $color_border;
                padding: 0 5px;
            }

            &.input- {
                &1 {
                    grid-column: 2/ 8;
                    grid-row: 2/ 3;
                }

                &2 {
                    grid-column: 2/8;
                    grid-row: 4/5;
                }

                // &3 {
                //     grid-column: 2/4;
                //     grid-row: 6/7;
                // }

                // &4 {
                //     grid-column: 5/7;
                //     grid-row: 6/7;
                // }
            }
        }
        button.input- {
            // &1 {
            //     grid-column: 2/ 8;
            //     grid-row: 2/ 3;
            // }

            // &2 {
            //     grid-column: 2/8;
            //     grid-row: 4/5;
            // }

            &3 {
                grid-column: 2/4;
                grid-row: 6/7;
            }

            &4 {
                grid-column: 5/7;
                grid-row: 6/7;
            }
        }
    }
}

div.boxAlert{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30%;
    height: auto;
    padding: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 68, 0);
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px $color_border;
}