body {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.textbox {
    width: 60%;
    height: 60%;
    padding: 25px;
    font-size: 1.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid rgb(54, 35, 65);
    border-radius: 15px;
    box-shadow: 6px 3px 16px 0px black;
}